{% block formBuscarSolicitud %}



<div class="myFormContainer" id="buscarSolicitudes">
  <div class="myFormContainer">
      <div class="row">
        
        <div class="col">
          <div class = "myForm__section">
            <div class="myForm__item">
              <label for="filtroTipoSolicitud" class="myForm__label">Tipo solicitud</label>
              <select name="tipoSolicitud" id="filtroTipoSolicitud" class="myForm__select">
                  <option value=""></option>
                  <option value="viatico">Viático</option>
                  <option value="anticipo">anticipo</option>
                  <option value="reembolso">Reembolso</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class = "myForm__section">
            <div class="myForm__item">
              <label for="filtroEstado" class="myForm__label">Estado</label>
              <select name="tipoSolicitud" id="filtroEstado" class="myForm__select">
                  <option value=""></option>
                  {% for estado in estados_solicitudes %}
                  <option value="{{estado.id}}">{{estado.estado}}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class = "myForm__section">
            <div class="myForm__item">
              <label for="fechaSolicitudDesde" class="myForm__label">Desde</label>
              <input type="date" class="myForm__input" id="fechaSolicitudDesde" >
            </div>
          </div>
        </div>

        <div class="col">
          <div class = "myForm__section">
            <div class="myForm__item">
              <label for="filtroRegional" class="myForm__label">Regional</label>
              <select name="tipoSolicitud" id="filtroRegional" class="myForm__select">
                  <option value=""></option>
                  {% for reg in regionales %}
                  <option value="{{reg.id}}">{{reg.regional}}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class = "myForm__section">
            <div class="myForm__item">
              <label for="fechaSolicitudDesde" class="myForm__label">Hasta</label>
              <input type="date" class="myForm__input" id="fechaSolicitudDesde" >
            </div>
          </div>
        </div>

        <div class="col">
          <div class = "myForm__section">
            <div class="myForm__item">
              <label for="" class="myForm__label"> </label>
              <button class="myButton myButton_submit" >
                Buscar
              </button>
            </div>
          </div>
        </div>

       

      </div>
      
  </div>
  <div class="myFormContainer">

    <div class="card">
      <div class="card-header card-header-primary my-bg">
        <div class="row">

          <div class="col-10">
            <h4 class="card-title ">Solicitudes</h4>
            <p class="card-category">Tabla Solicitudes</p>
          </div>

          <div class="col-2">
            <a href="{% url 'exportar_excel' %}"><img src="../../static/assets/img/icons8-ms-excel-40.png" alt="excel"></a>
          </div>

        </div>
        
        
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="listadoSolicitudes">
            <thead class="my-color-primary">
              <th>
                id
              </th>
              <th>
                Fecha solicitud
              </th>
              <th>
                Estado
              </th>
              <th>
                Colaborador
              </th>
              <th>
                Regional
              </th>
              <th>
                Tipo Operación
              </th>
              <th>
                Valor
              </th>
              <th>
                Gestionar
              </th>
              
            </thead>
            <tbody>
              {% for solicitud in lista_solicitudes %}
              <tr>
                <td>
                  {{solicitud.id}}
                </td>
                <td>
                  {{solicitud.fecha}}
                </td>
                <td>
                  {{solicitud.estado}}
                </td>
                <td>
                  {{solicitud.colaborador}}
                </td>
                <td>
                  {{solicitud.regional}}
                </td>
                <td>
                  {{solicitud.operacion}}
                </td>
                <td>
                  $ {{solicitud.valor_total}}
                </td>
                <td>
                  <a href="{% url 'ver_solicitud' solicitud.id %}">Ver...</a>
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    
  </div> 
   
</div>



{% endblock %}





