{% block formViaticos %}

<h2 class="mySubtitle">
    FORMULARIO VIÁTICOS
</h2>

<hr class="lineaDivisora">

<form action="" class="myForm">
    {% csrf_token %}
    <div class="myForm__section">


        <div class="myForm__item">
            <label for="colaborador-solicitante" class="myForm__label">Colaborador</label>
            <!-- <input list="listado-colaboradores" class="myForm__input" id="lista-colaboradores">
            <datalist id="listado-colaboradores">
                {% for colaborador in colaboradores %}
                <option value="{{colaborador}}">
                {% endfor %}
            </datalist> -->
            <input type="text" class="myForm__input" id="colaborador-solicitante" value="{{usuario_actual}}" disabled>
        </div>
        
        <div class="myForm__item">
            <label for="selectTipoSolicitud" class="myForm__label">Estado:</label>
            <select name="selectTipoSolicitud" id="selectTipoSolicitud" class="myForm__select" disabled>
                <option value=""></option>
                <option value="Solicitado" selected>Solicitado</option>
                <option value="Anticipo"></option>
                <option value="Reembolso">Reembolso</option>
                    
            </select>
        </div>
        
        <div class="myForm__item">
            <label for="selectRegional" class="myForm__label">Regional:</label>
            <select name="selectRegional" id="selectRegional" class="myForm__select">
                {% for regional in regionales%}
                <option value="{{regional.regional}}">{{regional.regional}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="myForm__item">
            <label for="observaciones-solicitud" class="myForm__label">Observaciones</label>
            <textarea  name="observaciones-solicitud" class="myForm__textArea" id="observaciones-solicitud">...</textarea>
        </div>
        
    </div>
    
    <fieldset class="myForm__fieldset">
        <legend class="myForm__legend"><h3 class="mySubtitle">ACTIVIDADES</h3></legend>

        <div class="myForm__section">

            <div class="myForm__item">
                <label for="fecha_actividad" class="myForm__label">Fecha actividad</label>
                <input type="date" class="myForm__input" id="fecha_actividad" name="fecha_actividad">
            </div>
            
            <div class="myForm__item">
                <label for="lista-municipios" class="myForm__label">Municipio</label>
                <input list="listado-municipios" class="myForm__input" id="lista-municipios">
                <datalist id="listado-municipios">
                    {% for municipio in municipios%}
                    <option value="{{municipio}}">
                    {% endfor %}  
                </datalist>
            </div>
           

            <div class="myForm__item">
                <label for="proyecto" class="myForm__label">Proyecto</label>
                <input type="text" class="myForm__input" id="proyecto" >
            </div>
           

            <div class="myForm__item">
                <label for="Concepto_descripcion" class="myForm__label">Concepto / Descripción</label>
                <textarea  name="Concepto_descripcion" class="myForm__input" id="Concepto_descripcion">...</textarea>
            </div>

            

            <!-- <div class="myForm__item">
                <label for="valor_total_actividad" class="myForm__label">Valor total actividad: $</label>
                <input type="number" class="myForm__input" id="valor_total_actividad" >
            </div> -->
            
        </div>
        
            <fieldset class="myForm__fieldset">
                <legend class="myForm__legend"><h4 class="mySubtitle">ESTADÍA</h4></legend>

                <div class="myForm__section">

                    <div class="myForm__item">
                        <label for="dias_actividad" class="myForm__label">Número días</label>
                        <input type="number" class="myForm__input" id="dias_actividad" >
                    </div>
                    
    
                    <div class="myForm__item">
                        <label for="Si_pernocta" class="myForm__label">Pernoctar</label>
                        <input type="radio" class="myForm__radius" id="Si_pernocta" name="pernoctado" value="Si">
                        <label for="No_pernocta" class="myForm__label">No Pernoctar</label>
                        <input type="radio" class="myForm__radius" id="No_pernocta" name="pernoctado" value="No">
                    </div>
                </div>

                <fieldset class="myForm__fieldset">
                    <legend class="myForm__legend"><h5 class="mySubtitle">RUTA</h5></legend>

                    <div class="myForm__section">

                        <div class="myForm__item">
                            <!-- <label for="lista-municipios-sedes" class="myForm__label">Sede Principal</label>
                            <input list="listado-municipios-sedes" class="myForm__input" id="lista-municipios-sedes">
                            <datalist id="listado-municipios-sedes">
                                {% for municipio in municipios%}
                                    {% if municipio.es_sede  %}
                                    <option value="{{municipio}}">
                                    {% endif %}
                                {% endfor %}  
                            </datalist> -->
                            
                            <label for="lista-municipios-sedes" class="myForm__label">Sede Principal</label>
                            <select  class="myForm__input" id="lista-municipios-sedes">
                                <option></option>
                                {% for municipio in municipios%}
                                    {% if municipio.es_sede  %}
                                    <option value="{{municipio}}">{{municipio}}</option>
                                    {% endif %}
                                {% endfor %}  
                            </select>
                        </div>
                        
                        <div class="myForm__item">
                            <label for="lista-municipios-destinos" class="myForm__label">Destino</label>
                            <select  class="myForm__input" id="lista-municipios-destinos">
                                <option></option>
                                {% for municipio in municipios%}
                                    {% if municipio.es_sede  %}
                                    <option value="{{municipio}}">{{municipio}}</option>
                                    {% endif %}
                                {% endfor %}  
                            </select>
                        </div>

                        <div class="myForm__item">
                            <label for="valor_transporte" class="myForm__label">Transporte: $</label>
                            <input type="text" class="myForm__input" id="valor_transporte" disabled >
                        </div>
                        
                        <div class="myForm__item">
                            <label for="valor_viatico" class="myForm__label">Víatico: $</label>
                            <input type="text" class="myForm__input" id="valor_viatico" disabled >
                        </div>

                        <div class="myForm__item">
                            <button class="myButton" id="btnCargarViatico" type="button">
                                <img src="../../static/assets/img/icons8-más-2-matemáticas-40.png" alt="">
                            </button>
                        </div>
                        
                    </div>

                    <div class="myForm__section">
                        <div class="col-md-12">
                            <div class="card card-plain">
                            <div class="card-header card-header-primary my-bg">
                                <h4 class="card-title mt-0"> Ruta de viáticos</h4>
                                <p class="card-category"> Detalle de la ruta </p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                <table class="table table-hover" id="tablaViaticos">
                                    <thead class="">
                                    <!-- <th>
                                        Número de ruta
                                    </th> -->
                                    <th>
                                        Sede Principal
                                    </th>
                                    <th>
                                        Destino
                                    </th>
                                    <th>
                                        Cantidad días
                                    </th>
                                    <th>
                                        Pernoctado
                                    </th>
                                    <th>
                                        Viático
                                    </th>
                                    <th>
                                        Transporte
                                    </th>
                                    <th>
                                        Eliminar
                                    </th>
                                    </thead>
                                    <tbody id="bodyTablaViaticos">
                                    
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </fieldset>
            </fieldset>

        <fieldset class="myForm__fieldset">
            <legend class="myForm__legend"><h4 class="mySubtitle">GASTOS ADICIONALES</h4></legend>

            <div class="myForm__section">

                <div class="myForm__item">
                    <label for="fecha_solicitud" class="myForm__label">Fecha Gasto</label>
                    <input type="date" class="myForm__input" id="fecha_solicitud">
                </div>
                
                <div class="myForm__item">
                    <label for="proyecto" class="myForm__label">Descripción</label>
                    <input type="text" class="myForm__input" id="proyecto" >
                </div>
                
                <div class="myForm__item">
                    <label for="valor_total_actividad" class="myForm__label">Valor: $</label>
                    <input type="number" class="myForm__input" id="valor_total_actividad" >
                </div>
                
                <div class="myForm__item"></div>
        
            </div>
            
        </fieldset>

    </fieldset>
    

</form>

{% endblock %}