{% block formViaticos %}

<h2 class="mySubtitle">
    FORMULARIO VIÁTICOS
</h2>

<!-- <hr class="lineaDivisora"> -->

<form action="" class="myForm" method="POST">
    {% csrf_token %}
    <fieldset class="myForm__fieldset">
        <legend class="myForm__legend"><h3 class="mySubtitle">DATOS ACTIVIDAD</h3></legend>
    
        <div class="myForm__section">

            <div class="myForm__item">
                <label for="colaboradorSolicitante" class="myForm__label">Colaborador</label>
                <input type="text" class="myForm__input" id="colaboradorSolicitante" value="{{usuario_actual}}" disabled>
            </div>
            
            <div class="myForm__item">
                <label for="tipoSolicitud" class="myForm__label">Estado</label>
                <select name="tipoSolicitud" id="tipoSolicitud" class="myForm__select" disabled>
                    <option value=""></option>
                    <option value="Solicitado" selected>Solicitado</option>
                    <option value="Anticipo"></option>
                    <option value="Reembolso">Reembolso</option>
                </select>
            </div>
            
            <div class="myForm__item">
                <label for="regional" class="myForm__label">Regional</label>
                <select name="regional" id="regional" class="myForm__select">
                    {% for regional in regionales%}
                    <option value="{{regional.regional}}">{{regional.regional}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="myForm__item">
                <label for="proyecto" class="myForm__label">Proyecto</label>
                <input type="text" class="myForm__input" id="proyecto" >
            </div>
            
            <div class="myForm__item">
                <label for="sede" class="myForm__label">Sede</label>
                <input list="listado-municipios-sedes" class="myForm__input" id="sede">
                <datalist id="listado-municipios-sedes">
                    {% for municipio in municipios%}
                        {% if municipio.es_sede  %}
                        <option value="{{municipio}}">
                        {% endif  %}
                    {% endfor %}  
                </datalist>
            </div>
           
            
            <div class="myForm__item">
                <label for="observaciones-solicitud" class="myForm__label">Observaciones</label>
                <textarea  name="observacionesSolicitud" class="myForm__textArea" id="observacionesSolicitud">...</textarea>
            </div>
            
        </div>
        
        <fieldset class="myForm__fieldset">
            <legend class="myForm__legend"><h4 class="mySubtitle">ESTADÍA y RUTA</h4></legend>

                <div class="myForm__section">

                    <div class="myForm__item">
                        <label for="origenTramo" class="myForm__label">Origen</label>
                        <input list="listadoMunicipios" class="myForm__input" id="origenTramo">
                        <datalist id="listadoMunicipios">
                            {% for municipio in municipios%}
                                <option value="{{municipio}}">
                            {% endfor %}  
                        </datalist>
                    </div>
                    
                    <div class="myForm__item">
                        <label for="destinoTramo" class="myForm__label">Destino</label>
                        <input list="listadoMunicipios" class="myForm__input" id="destinoTramo">
                        <datalist id="listadoMunicipios">
                            {% for municipio in municipios%}
                                <option value="{{municipio}}">
                            {% endfor %}  
                        </datalist>
                    </div>

                    <div class="myForm__item">
                        <label for="fechaInicial" class="myForm__label">Fecha inicial: </label>
                        <input type="date" class="myForm__input" id="fechaInicial" >
                    </div>

                    <div class="myForm__item">
                        <label for="fechaFinal" class="myForm__label">Fecha final: </label>
                        <input type="date" class="myForm__input" id="fechaFinal" >
                    </div>

                    <div class="myForm__item">
                        <label for="diasViaje" class="myForm__label">Días de viaje:</label>
                        <input type="number" class="myForm__input" id="diasViaje" >
                    </div>

                    <div class="myForm__item">
                        <label for="valorTransporte" class="myForm__label">Transporte: </label>
                        <input type="text" class="myForm__input" id="valorTransporte" disabled >
                    </div>

                    <div class="myForm__item">
                        <label for="pernoctar" class="myForm__label">Pernoctar: </label>
                        <input type="checkbox" class="myForm__input myForm__input_checkbox " id="pernoctar">
                    </div>
                    
                    <div class="myForm__item">
                        <label for="valorViatico" class="myForm__label">Valor víatico:</label>
                        <input type="text" class="myForm__input" id="valorViatico" disabled >
                    </div>

                    <div style="text-align:center; width: 100%;">
                        <p><span id="rutaAprobada"></span></p>
                    </div>
                    
                    <div class="myForm__item">
                        <button class="myButton" id="btnCargarViatico" type="button">
                            <img src="../../static/assets/img/icons8-más-2-matemáticas-40.png" alt="">
                        </button>
                    </div>
                    
                </div>

                <div class="myForm__section">
                    <div class="col-md-12">
                        <div class="card card-plain">
                        <div class="card-header card-header-primary my-bg">
                            <h4 class="card-title mt-0"> Ruta de viáticos</h4>
                            <p class="card-category"> Tramos de la ruta </p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table table-hover" id="tablaViaticos">
                                <thead class="">
                                <th>
                                    Tramo
                                </th>
                                <th>
                                    Origen
                                </th>
                                <th>
                                    Destino
                                </th>
                                <th>
                                    Fecha inicial
                                </th>
                                <th>
                                    Fecha final
                                </th>
                                <th>
                                    Días de viaje
                                </th>
                                <th>
                                    Pernoctar
                                </th>
                                <th>
                                    Viático
                                </th>
                                <th>
                                    Transporte
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Eliminar
                                </th>
                                </thead>
                                <tbody id="bodyTablaViaticos">
                                
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                
            
        </fieldset>

        <fieldset class="myForm__fieldset">
            <legend class="myForm__legend"><h4 class="mySubtitle">GASTOS ADICIONALES</h4></legend>

            <div class="myForm__section">

                <div class="myForm__item">
                    <label for="tipoGasto" class="myForm__label">Tipo de Gasto</label>
                    <input list="listadoTiposGastos" class="myForm__input" id="tipoGasto">
                    <datalist id="listadoTiposGastos">
                        <option value="Alimentación">
                        <option value="Transporte local">    
                        <option value="Transporte intermunicipal">
                        <option value="Alquiler de Equipos o herramientas"> 
                        <option value="Otro">     
                    </datalist>
                </div>


                <div class="myForm__item">
                    <label for="descripcionGastoAdicional" class="myForm__label">Descripción</label>
                    <textarea  name="descripcionGastoAdicional" class="myForm__textArea" id="descripcionGastoAdicional">...</textarea>
                </div>
                
                <div class="myForm__item">
                    <label for="municipioGastoAdicional" class="myForm__label">Lugar del gasto</label>
                    <input list="listadoMunicipios" class="myForm__input" id="municipioGastoAdicional">
                    <datalist id="listadoMunicipios">
                        {% for municipio in municipios%}
                            <option value="{{municipio}}">{{municipio}}</option>
                        {% endfor %} 
                    </datalist>
                </div>

                <div class="myForm__item">
                    <label for="valorGastoAdicional" class="myForm__label">Valor: $</label>
                    <input type="number" class="myForm__input" id="valorGastoAdicional" >
                </div>
                
                <div class="myForm__item"></div>
            </div>

            <div class="myForm__section">
                <div class="myForm__item">
                    <button class="myButton" id="btnCargarGastoAdicional" type="button">
                        <img src="../../static/assets/img/icons8-más-2-matemáticas-40.png" alt="">
                    </button>
                </div>
            </div>

            <div class="myForm__section">
                <div class="col-md-12">
                    <div class="card card-plain">
                    <div class="card-header card-header-primary my-bg">
                        <h4 class="card-title mt-0"> Gastos adicionales </h4>
                        <p class="card-category"> Detalle de adicionales </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-hover" id="tablaGastosAdicionales">
                            <thead class="">
                            
                            <!-- <th>
                                # Gasto adicional
                            </th> -->
                            <th>
                                Tipo de Gasto
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Lugar del Gasto
                            <th>
                                Eliminar
                            </th>
                            </thead>
                            <tbody id="bodyTablaGastosAdicionales">
                            
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="myForm__section">
                <div class="myForm__item">
                    <button type="submit" class="myButton myButton_submit" id="btnEnviarSolicitudViatico">Enviar Solicitud</button>
                </div>
            </div>
            
        </fieldset>

    </fieldset>
    

</form>

{% endblock %}