{% block formReembolso %}

<form action="" class="myForm" method="POST">
    {% csrf_token %}
    <fieldset class="myForm__fieldset">
        <legend class="myForm__legend"><h3 class="mySubtitle">DATOS SOLICITUD</h3></legend>
    
        <div class="myForm__section">

            <div class="myForm__item">
                <label for="colaboradorSolicitante" class="myForm__label">Colaborador</label>
                <input type="text" class="myForm__input" id="colaboradorSolicitante" value="{{usuario_actual}}" disabled>
            </div>
            
            <div class="myForm__item">
                <label for="estadoSolicitud" class="myForm__label">Estado</label>
                <select name="estadoSolicitud" id="estadoSolicitud" class="myForm__select" disabled>
                    <option value=""></option>
                    <option value="Solicitado" selected>Solicitado</option>
                    <option value="" >???</option>
                </select>
            </div>

            <div class="myForm__item">
                <label for="solicitudAsociada" class="myForm__label">Solicitud asociada</label>
                <input list="listaSolicitudes" class="myForm__input" id="solicitudAsociada">
                <datalist id="listaSolicitudes">
                    {% for s in lista_solicitudes %}
                        <option value="{{s.id}}">{{s}}</option>
                    {% endfor %} 
                </datalist>
            </div>

            
            <div class="myForm__item">
                <label for="regional" class="myForm__label">Regional</label>
                <select name="regional" id="regional" class="myForm__select">
                    {% for regional in regionales%}
                    <option value="{{regional.regional}}">{{regional.regional}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="myForm__item">
                <label for="observacionesSolicitud" class="myForm__label">Observaciones</label>
                <textarea  name="observacionesSolicitud" class="myForm__textArea" id="observacionesSolicitud">...</textarea>
            </div>

            <div class="myForm__item"></div>
        </div>

        

        <fieldset class="myForm__fieldset">
            <legend class="myForm__legend"><h4 class="mySubtitle">ACTIVIDADES DE REEMBOLSO</h4></legend>

            <div class="myForm__section">

                <div class="myForm__item">
                    <label for="fechaActividadReembolso" class="myForm__label">Fecha</label>
                    <input type="date" class="myForm__input" id="fechaActividadReembolso" >
                </div>

                <div class="myForm__item">
                    <label for="lugarActividadReembolso" class="myForm__label">Ciudad / Municipio</label>
                    <input list="listadoMunicipios" class="myForm__input" id="lugarActividadReembolso">
                    <datalist id="listadoMunicipios">
                        {% for municipio in municipios%}
                            <option value="{{municipio}}">{{municipio}}</option>
                        {% endfor %} 
                    </datalist>
                </div>

                <div class="myForm__item">
                    <label for="proyectoReembolso" class="myForm__label">Proyecto</label>
                    <input type="text" class="myForm__input" id="proyectoReembolso" >
                </div>

                <div class="myForm__item">
                    <label for="nombreActividadReembolso" class="myForm__label">Nombre Actividad</label>
                    <textarea  name="descripcionGastoAdicional" class="myForm__textArea" id="nombreActividadReembolso">...</textarea>
                </div>
                
                <div class="myForm__item">
                    <label for="valorActividadReembolso" class="myForm__label">Valor: $</label>
                    <input type="number" class="myForm__input" id="valorActividadReembolso" >
                </div>

                <div class="myForm__item"></div>
            </div>

            <fieldset class="myForm__fieldset">
                <legend class="myForm__legend"><h5 class="mySubtitle">Beneficario</h5></legend>
                <div class="myForm__section">
                    <div class="myForm__item">
                        <label for="numIdentificacion" class="myForm__label"># Identificación</label>
                        <input type="text" class="myForm__input" id="numIdentificacion">
                    </div>
    
                    <div class="myForm__item">
                        <label for="nombreBeneficiario" class="myForm__label">Nombre </label>
                        <input type="text" class="myForm__input" id="nombreBeneficiario">
                    </div>
    
                    <div class="myForm__item">
                        <label for="tipoIdentificacion" class="myForm__label">Tipo Identificación</label>
                        <select name="tipoIdentificacion" id="tipoIdentificacion" class="myForm__select">
                            <option value="rut_cedula">nit</option>
                            <option value="rut_cedula">rut / cédula</option>
                        </select>
                    </div>

                    <div class="myForm__item"></div>
                </div>
                

            </fieldset>

            <div class="myForm__section">
                <div class="myForm__item">
                    <button class="myButton" id="btnCargarReembolso" type="button">
                        <img src="../../static/assets/img/icons8-más-2-matemáticas-40.png" alt="">
                    </button>
                </div>
            </div>

            <div class="myForm__section">
                <div class="col-md-12">
                    <div class="card card-plain">
                    <div class="card-header card-header-primary my-bg">
                        <h4 class="card-title mt-0"> Actividades reembolso </h4>
                        <p class="card-category"> Detalle actividades </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-hover" id="tablaActividadesReembolsos">
                            <thead class="">
                            
                            <th>
                                Fecha actividad
                            </th>
                            <th>
                                Ciudad/Municipio
                            </th>
                            <th>
                                Proyecto
                            </th>
                            <th>
                                Beneficario
                            </th>
                            <th>
                                Nombre actividad
                            </th>
                            <th>
                                Valor
                            <th>
                                Eliminar
                            </th>
                            </thead>
                            <tbody id="bodyTablaActividadesReembolsos">
                            
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </fieldset>
        
        
        <div class="myForm__section">
            <div class="myForm__item">
                <button type="submit" class="myButton myButton_submit" id="btnEnviarSolicitudReembolso">Enviar Solicitud</button>
            </div>
        </div>

    </fieldset>
    

</form>



{% endblock %}