{% block formSolicitud %}

<div class="myForm" id="formNuevaSolicitud" style="display:none;">
    <form action="">
        <label for="selectTipo" class="myForm__select">Selecione el tipo:</label>
        <select name="selectTipo" id="selectTipoSolicitud" class="myForm__select" >
            <option value=""></option>
            <option value="Viáticos">Viáticos</option>
            <option value="Anticipo">Anticipo</option>
            <option value="Reembolso">Reembolso</option>
        </select>

        <div id="contenedorFormViaticos" style="display:none;">
            <p>contenedorFormViaticos</p>
            {% include "gestionSolicitudes/formularioViaticos.html" %}
        </div>
        <div id="contenedorFormAnticipo" style="display:none;">
            <p>contenedorFormAnticipo</p>
            {% include "gestionSolicitudes/formularioAnticipo.html" %}
        </div>
        <div id="contenedorFormReembolso" style="display:none;">
            <p>contenedorFormReembolso</p>
            {% include "gestionSolicitudes/formularioReembolso.html" %}

        </div>
    </form>
</div>



{% endblock %}