{% block formAnticipos %}

<h2 class="mySubtitle">
    FORMULARIO ANTICIPOS
</h2>

<!-- <hr class="lineaDivisora"> -->

<form action="" class="myForm" method="POST">
    {% csrf_token %}
    <fieldset class="myForm__fieldset">
        <legend class="myForm__legend"><h3 class="mySubtitle">DATOS SOLICITUD</h3></legend>
    
        <div class="myForm__section">

            <div class="myForm__item">
                <label for="colaboradorSolicitante" class="myForm__label">Colaborador</label>
                <input type="text" class="myForm__input" id="colaboradorSolicitante" value="{{usuario_actual}}" disabled>
            </div>
            
            <div class="myForm__item">
                <label for="tipoSolicitud" class="myForm__label">Estado</label>
                <select name="tipoSolicitud" id="tipoSolicitud" class="myForm__select" disabled>
                    <option value=""></option>
                    <option value="Solicitado" >Solicitado</option>
                    <option value="Anticipo" selected>Anticipo</option>
                    <option value="Reembolso">Reembolso</option>
                </select>
            </div>
            
            <div class="myForm__item">
                <label for="regional" class="myForm__label">Regional</label>
                <select name="regional" id="regional" class="myForm__select">
                    {% for regional in regionales%}
                    <option value="{{regional.regional}}">{{regional.regional}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="myForm__item">
                <label for="observaciones-solicitud" class="myForm__label">Observaciones</label>
                <textarea  name="observacionesSolicitud" class="myForm__textArea" id="observacionesSolicitud">...</textarea>
            </div>
        </div>

        <fieldset class="myForm__fieldset">
            <legend class="myForm__legend"><h4 class="mySubtitle">DATOS ACTIVIDADES</h4></legend>

            <div class="myForm__section">

                <div class="myForm__item">
                    <label for="fechaActividadAnticipo" class="myForm__label">Fecha</label>
                    <input type="date" class="myForm__input" id="fechaActividadAnticipo" >
                </div>

                <div class="myForm__item">
                    <label for="lugarActividadAnticipo" class="myForm__label">Ciudad / Municipio</label>
                    <input list="listadoMunicipios" class="myForm__input" id="lugarActividadAnticipo">
                    <datalist id="listadoMunicipios">
                        {% for municipio in municipios%}
                            <option value="{{municipio}}">{{municipio}}</option>
                        {% endfor %} 
                    </datalist>
                </div>

                <div class="myForm__item">
                    <label for="proyecto" class="myForm__label">Proyecto</label>
                    <input type="text" class="myForm__input" id="proyecto" >
                </div>

                <div class="myForm__item">
                    <label for="nombreActividad" class="myForm__label">Nombre Actividad</label>
                    <textarea  name="descripcionGastoAdicional" class="myForm__textArea" id="nombreActividad">...</textarea>
                </div>
                

                <div class="myForm__item">
                    <label for="valorActividadAnticipo" class="myForm__label">Valor: $</label>
                    <input type="number" class="myForm__input" id="valorActividadAnticipo" >
                </div>

                <div class="myForm__item"></div>
            </div>

            <div class="myForm__section">
                <div class="myForm__item">
                    <button class="myButton" id="btnCargarActividad" type="button">
                        <img src="../../static/assets/img/icons8-más-2-matemáticas-40.png" alt="">
                    </button>
                </div>
            </div>

            <div class="myForm__section">
                <div class="col-md-12">
                    <div class="card card-plain">
                    <div class="card-header card-header-primary my-bg">
                        <h4 class="card-title mt-0"> Actividades Anticipo </h4>
                        <p class="card-category"> Detalle detalle actividades </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-hover" id="tablaActividadesAnticipos">
                            <thead class="">
                            
                            <th>
                                Fecha actividad
                            </th>
                            <th>
                                Ciudad/Municipio
                            </th>
                            <th>
                                Proyecto
                            </th>
                            <th>
                                Nombre actividad
                            </th>
                            <th>
                                Valor
                            <th>
                                Eliminar
                            </th>
                            </thead>
                            <tbody id="bodyTablaActividadesAnticipos">
                            
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
        </fieldset>
        
        
        <div class="myForm__section">
            <div class="myForm__item">
                <button type="submit" class="myButton myButton_submit" id="btnEnviarSolicitudAnticipo">Enviar Solicitud</button>
            </div>
        </div>

    </fieldset>
    

</form>

{% endblock %}