{% block formSolicitud %}

<div class="myFormContainer inactive" id="formNuevaSolicitud">
    
    <div class="myForm__item myForm__item_especial">
        <!-- <label for="selectTipo" class="myForm__label"></label> -->
        <select name="tipoSolicitud" id="tipoSolicitud" class="myForm__select myForm__select_modify " >
            <option value="" selected>___Tipo Solicitud___</option>
            <option value="Viaticos">Viático</option>
            <option value="Anticipo">Anticipo</option>
            <option value="Reembolso">Reembolso</option>
            <option value="Legalizacion">Legalización</option>
        </select>
    </div>
    

    <div id="contenedorFormViaticos" class="contenedorForm" style="display: none;">
        {% include "gestionSolicitudes/formularioViaticos.html" %}
    </div>
    <div id="contenedorFormAnticipo" class="contenedorForm" style="display: none;">
        {% include "gestionSolicitudes/formularioAnticipo.html" %}
    </div>
    <div id="contenedorFormReembolso" class="contenedorForm" style="display: none;">
        {% include "gestionSolicitudes/formularioReembolso.html" %}
    </div>
    <div id="contenedorFormLegalizacion" class="contenedorForm" style="display: none;">
        {% include "gestionSolicitudes/formularioLegalizacion.html" %}
    </div>
   
</div>



{% endblock %}