:root{
    /*Colores Ser Social*/

    --azul-rey: #26438a;
    --azul-cielo:#76aadb;
    --naranja: #d57f23;
}

.inactive {
    opacity: 0;
    transition: 1s;
    /* display: none; */
    
}

#logo_serSocial {
    width: 16rem;
    height: 4rem;
}

.lineaDivisora {
    border: 1px var(--azul-cielo) solid;
}
.myBaseClass {
    background: linear-gradient(60deg,var(--azul-cielo), var(--azul-rey)) !important;
    /* color: var(--naranja) !important; */
    text-align: center;
}

.my-bg {
    background: linear-gradient(60deg,var(--azul-cielo), var(--azul-rey)) !important;
    
}

.my-bg:active > a{

    background: linear-gradient(60deg,var(--azul-cielo), var(--azul-rey)) !important;
    color: white !important;
}


.my-color-primary {
    color: var(--azul-rey) !important;
}

.navBarContainer {
    padding: 2px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    opacity: 0.7;
    transition: 2s;
    margin: 40px 0 40px 0;
}

.myNavBar {
    background: linear-gradient(60deg,var(--azul-cielo), var(--azul-rey)) !important;
    /* border-radius: 20px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    width: 100%;
    box-shadow: 18px 30px 15px 0px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myNavBar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px;
    padding: 0px;
    height: 2px;
}

.myNavBar__element {
    list-style: none;
    position: relative;
    bottom:40px;
    margin: 0;
    padding: 0; 
    cursor: pointer;
}

.myNavBar__element:hover {
    opacity: 0.7;
    zoom: 1.1;
    bottom: 43px;
}

.myNavBar__link {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;

}

.myTitle { 
    text-align: center;
    color: gray;
    letter-spacing: 10px; 
    padding: 10px 10px 50px 10px;
    margin: 20px 0 0 0;
    text-shadow: 28px 30px 15px gray;
}

.mySubtitle {
    text-align: center;
    color: gray;
    letter-spacing: 10px; 
    padding: 10px 10px 10px 10px;
    margin: 0;
    text-shadow: 28px 30px 15px gray;
}

.myFormContainer {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid var(--azul-cielo);
    border-radius: 20px;
    box-shadow: 18px 30px 15px 0px gray;
    transition: 1s;
}

/* .myFormContainer select {
    border-radius: 10px;
    border: 1px solid var(--azul-cielo);
    text-align: center;
    padding: 5px;
    width: 10rem;
} */

.myForm {
    
    padding: 5px;
    text-align: center;
    
}

.contenedorForm {
    transition: 1s;
}

.myForm__legend {
    
    text-align: center;
    width: 100%;
    border-bottom:3px solid var(--azul-cielo) ;
    border-top: 3px solid var(--azul-cielo);
    border-radius: 10px;
    
}

.myForm__section {
    
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
 
}
.myForm__item {
     
    margin: 0;
    padding: 20px 10px 20px 10px;
    height: 5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    flex-basis: 30rem;
}

.myForm__item_especial {
    
    text-align: center;
    background: linear-gradient(240deg,var(--azul-cielo), var(--azul-rey)) !important;
    margin-bottom: 20px;
    margin-top: 35px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.myForm__label {
    
    padding: 3px;
    width: 8rem;
    
}
.myForm__label:hover {
    
    color: var(--naranja);
    
}

/* .myForm__input {
    border: var(--azul-cielo);
    border: 1px solid var(--azul-cielo);
    border-radius: 10px;
    cursor: pointer;
} */

.myForm__select, .myForm__input {
    border-radius: 10px;
    border: 1px solid var(--azul-cielo);
    text-align: center;
    padding: 5px;
    width: 10rem;
    height: 2rem;
    cursor: pointer;
    box-shadow: 10px 10px 15px 0px gray;
}



.myForm__textArea {
    border-radius: 10px;
    border: 1px solid var(--azul-cielo);
    text-align: center;
    padding: 5px;
    width: 10rem;
    min-height: 3rem;
    box-shadow: 10px 10px 15px 0px gray;
}

.myForm__radius {
    width: 10rem;
    border: 1px solid var(--azul-cielo);
    border-radius: 60%;  
    
}

.myForm__select_modify {
    width: 30rem;
    border-radius: 0;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 30px;
    letter-spacing: 5px;
    height: 5rem;
    position: relative;
    bottom: 50px;
    background: linear-gradient(240deg,var(--azul-cielo), white) !important;
    opacity: .8;
    color: gray;
    box-shadow: 10px 10px 15px 0px gray;
}
.myForm__select option {
    background-color: var(--azul-cielo);
    
}


.myForm__select_modify:hover {
    background: linear-gradient(60deg,var(--azul-cielo), var(--naranja)) !important;
}

.myButton {
    border: 0;
}
.myButton img {
    width: 50px;
    height: 50px;
    border: 0;
}

.myButton img:hover {
    width: 60px;
    height: 60px;
    border:0;
    background: transparent;
}

.myButton img:active {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    border:0;

}

