{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/estilos.css">
{% endblock stylesheets %}

{% block content %}
<!-- Colocar página slices aquí  -->
<div>
    <h1 class="myTitle">
      BIENVENIDO
    </h1>

    <hr class="lineaDivisora">

 <div class="banner">
      <div class="capa"></div>
      <div class="info">
        <h1>BIENVENIDOS A SIREC</h1>
        <p>PLAFORMA DE APOYO GRADUAL</p>
        <a href="#">Leer Mas</a>
      </div>
 
    </div>

  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
