{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/slideshow.css">
{% endblock stylesheets %}

{% block content %}

<div>
  <h1 class="myTitle">
    BIENVENIDO
  </h1>

  <hr class="lineaDivisora">

<div class="slideshow-container">
  <div class="mySlides1">
    <img src="../../static/assets/img/SerSocial/casa.jpg" style="width:100%">
  </div>

  <div class="mySlides1">
    <img src="../../static/assets/img/SerSocial/IMG_2049.JPG" style="width:100%">
  </div>

  <div class="mySlides1">
    <img src="../../static/assets/img/SerSocial/IMG_2106.JPG" style="width:100%">
  </div>

  <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
  <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
</div>

</div>



</div>
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
      let slideIndex = [1,1];
      let slideId = ["mySlides1", "mySlides2"]
      showSlides(1, 0);
      showSlides(1, 1);

      function plusSlides(n, no) {
        showSlides(slideIndex[no] += n, no);
      }

      function showSlides(n, no) {
        let i;
        let x = document.getElementsByClassName(slideId[no]);
        if (n > x.length) {slideIndex[no] = 1}    
        if (n < 1) {slideIndex[no] = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        x[slideIndex[no]-1].style.display = "block";  
      }

  </script>

{% endblock javascripts %}
